$time-for-transition: 0.20s;

.site-header {

	@media #{$medium-up} {
	   border-bottom: 1px solid #e8e8e8;
	}
  	background-color: #fff;
	margin-top: 0.5em;
}

@media #{$medium-up} {
	.top-bar {
		.active {
			border-bottom: 0.3em solid #515151;
			-moz-transition: all $time-for-transition ease-in-out;
			-ms-transition: all $time-for-transition ease-in-out;
			-o-transition: all $time-for-transition ease-in-out;
			-webkit-transition: all $time-for-transition ease-in-out;
			transition: all $time-for-transition ease-in-out;
		}
	}
}

.logo {
	width: 7em;
}

