# Folder view configs
.DS_Store
Desktop.ini

# Thumbnails
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific
_site
bower_components
node_modules
