# Folder view configs
.DS_Store
Desktop.ini

# Thumbnails
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific
build
bower_components
node_modules
app.css
app.js
*.js.map


#Images
*.png
*.jpg
*.jpeg
*.gif

# Scss-Lint Specific
scss-lint-report.xml
