<footer class="site-footer">

<div class="footer-top">
  <div class="row">
      <div class="small-6 medium-3 columns">
        <h6 class="subheader">Quick Links</h6>
      </div>
      <div class="small-6 medium-3 columns">
        <h6 class="subheader">Testimonials</h6>
      </div>
      <div class="small-6 medium-3 columns">
        <h6 class="subheader">Newsletter</h6>
      </div>
      <div class="small-6 medium-3 columns"><h6 class="subheader">Clients</h6></div>
  </div>
</div>

<div class="footer-bottom">
</div>
  
</footer>
