<footer class="site-footer">

  <div class="footer-top">
    <div class="row">
        <div class="small-6 medium-3 columns">
          <h6 class="subheader">Quick Links</h6>
          <ul class="footer-list">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
            <li><a href="#">Link 7</a></li>
          </ul>
        </div>
        
        <div class="small-6 medium-3 columns">
          <h6 class="subheader">Testimonials</h6>
          <div class="panel">
            <p>This is a panel and you can write testimonials and stuff here</p>
          </div>
          <div class="panel">
            <p>This is a panel and you can write testimonials and stuff here</p>
          </div>
          <div class="panel">
              <p>This is a panel and you can write testimonials and stuff here</p>
          </div>
        </div>

        <div class="small-6 medium-3 columns">
          <h6 class="subheader">Newsletter</h6>
          <ul class="footer-list">
            <li><a href="#">News Letter 1</a></li>
            <li><a href="#">News Letter 2</a></li>
            <li><a href="#">News Letter 3</a></li>
            <li><a href="#">News Letter 4</a></li>
            <li><a href="#">News Letter 5</a></li>
            <li><a href="#">News Letter 6</a></li>
            <li><a href="#">News Letter 7</a></li>
          </ul>
        </div>

        <div class="small-6 medium-3 columns">
          <h6 class="subheader">Clients</h6>
          <ul class="small-block-grid-2">
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
            <li><a href="#"><img src="http://placehold.it/80x80/151515/646463&text=CLIENT"></a></li>
          </ul>
        </div>
    
    </div>
  </div>

  <div class="footer-bottom">

  </div>

</footer>
